{% extends "base.html" %}
{% block title %} Effacer une Catégorie {% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="p-4 rounded">
                <h3 class="mb-4">Effacer une Catégorie</h3>
                <form method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    {% if data_produits_associes %}
                        <h4 class="mb-3">Cette catégorie est associée avec le(s) produit(s) suivant(s) :</h4>
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th style="color: white;">Nom du produit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produit in data_produits_associes %}
                                    <tr>
                                        <td style="color: black; text-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.2);">
                                            {{ produit.nom_produit }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4 class="mb-3">Cette catégorie à effacer n'est associée à aucun produit.</h4>
                    {% endif %}
                    <div class="form-group mb-3">
                        <label style="color: black; text-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.2);">
                            {{ form.categorie_delete_wtf.label }}
                        </label>
                        {{ form.categorie_delete_wtf(class="form-control mt-3", readonly=true, style="background-color: white; color: black;") }}
                        {% for error in form.categorie_delete_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.submit_btn_conf_del(class="btn btn-info me-2") }}
                        {% if btn_submit_del %}
                            {{ form.submit_btn_del(class="btn btn-danger me-2") }}
                        {% endif %}
                        {{ form.submit_btn_annuler(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
