{% extends "base.html" %}
{% block title %}  Produit {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Produits
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Id
                        </th>
                        <th class="align-middle">
                            Produit
                        </th>
                        <th class="align-middle">
							Stock actuel
                        </th>
                         <th class="align-middle">
							Prix
                        </th>
  <th class="align-middle">
							Catégorie
                        </th>


                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_produit }}
						</td>
						<td class="align-middle">
							{{ row.nom_produit }}
						</td>

                        <td class="align-middle">
							{{ row.stock_actuel }}
						</td>
						<td class="align-middle">
							{{ row.prix_produit }}
						</td>
						<td>{{ row.nom_categorie or "Catégorie vide" }}</td>

						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					<td class="text-center align-middle">
					<form action="{{ url_for('genre_update_wtf') }}" method="post" style="display:inline;">
						<input type="hidden" name="id_produit_btn_edit_html" value="{{ row.id_produit }}">
						<button type="submit" class="btn btn-warning">Edit</button>
					</form>
				</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('genre_delete_wtf', id_produit_btn_delete_html=row.id_produit) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun produit.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

